env
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
fast_delivery/fast-delivery-ae47f-firebase-adminsdk-cw4cc-8ccbbb77f1.json
fast_delivery/fast_delivery/passwords.py
fast_delivery/secretss/fast-delivery-ae47f-firebase-adminsdk-cw4cc-8ccbbb77f1.json
