{% extends 'customer/base.html' %}
{% load bootstrap4 %}

{% block head %}


<!-- Import the functions you need from the SDKs you need -->
<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
<script>

    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyDBYbMrnvrRZiV1McbHZM5MSkGlrYZfc-0",
        authDomain: "fast-delivery-ae47f.firebaseapp.com",
        projectId: "fast-delivery-ae47f",
        storageBucket: "fast-delivery-ae47f",
        messagingSenderId: "57531189647",
        appId: "1:57531189647:web:4b2c775d0f29e0796b63fa"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

</script>


{% endblock %}

{% block main %}
<!-- Basic Information -->
<b class="text-secondary">Basic Information</b><br>
<div class="card bg-white mt-2 mb-5">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form user_form %}
            {% bootstrap_form customer_form %}
            <input type="hidden" name="action" value="update_profile">
            <button type="submit" class="btn btn-warning">Save</button>
        </form>
    </div>
</div>

<!-- Phone number -->
<b class="text-secondary">Change Password</b><br>
<div class="card bg-white mt-2 mb-5">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form password_form %}
            <input type="hidden" name="action" value="update_password">
            <button type="submit" class="btn btn-warning">Save</button>
        </form>
    </div>
</div>

<!-- Phone number -->
<b class="text-secondary">Phone Number</b><br>
<div class="card bg-white mt-2 mb-5">
    <div class="card-body">

        <div id="recaptcha-container" class="recaptcha-container"></div>

        <div id="get-code" class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your Phone Number">
            <div class="input-group-append">
                <button class="btn btn-warning" type="button">Send Code</button>
            </div>
        </div>

        <div id="verify-code" class="input-group mb-3 d-none">
            <input type="text" class="form-control" placeholder="Verification Code">
            <div class="input-group-append">
                <button class="btn btn-warning" type="button">Verify Code</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
    });

    $("#get-code button").on('click', function () {
        const phoneNumber = $("#get-code input").val();
        console.log(phoneNumber);

        firebase.auth().signInWithPhoneNumber(phoneNumber, window.recaptchaVerifier)
            .then((confirmationResult) => {
                console.log(confirmationResult);
                window.confirmationResult = confirmationResult;

                $("#get-code").addClass("d-none");
                $("#verify-code").removeClass("d-none");
            }).catch((error) => {
                toast(error.message, 'error');
            });
    });

    $("#verify-code button").on('click', function () {
        const code = $("#verify-code input").val();

        confirmationResult.confirm(code).then((result) => {
            const user = result.user;
            console.log(user.phoneNumber);

            user.getIdToken().then(function (idToken) {
                console.log(idToken);
            });
        }).catch((error) => {
            toast(error.message, 'error');
        });
    });
</script>

{% endblock %}